// MOBILE FIRST

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import "variable.scss";

//MIXINS

@mixin center-text{
  color: $fontColor;
  font-weight: 300;
  text-align: justify;
}

@mixin inputStyle{
  border: 1px solid $borderFormColor;
  outline: 1px solid $borderFormColor;
}

// RESETS
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  max-width: 300px;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: $backgroundColor;
  line-height: 1.5;
  color: $fontColor;
}

//MOBILE STYLES

.page {
  margin: 0 auto;
  width: 300px;
}

.container-header {
  background-size: cover;
  text-align: center;
  padding: 1em 2em;
  line-height: 1.2;


  &__h1 {
    margin: 310px auto;
    font-weight: 300;
    color: $fontColor;
    
    h1 {
      @include center-text;
      font-size: 3.5em;
    }
  }

  &__h2 {
    
    h2{
      @include center-text;
      font-size: 2em;
    }
  }
}

.section-about-me {
  margin: 3em 0;
  
  h2 {
    margin: 0.5em 0;
  }
  p {
    font-size: 1.2rem;
  }
}

.section-link {
  margin: 4em 0;
  
  h2 {
    text-align: center;
  }
  .articles-link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 18px;
    margin-top: 24px;
  
  
    article {
      // margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid $fontColor;
      border-radius: 4px;
      p {
        font-size: 1.2em;
      }
      a > img {
        height: 2em;
      }
    }
  }
}

.section-skills {
  &__article {
    h2 {
      margin: 1em 0;
    }
    p {
      font-size: 1.2em;
      margin: 0.5em 0;
    }
    ul {
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: center;
      gap: 12px;
      flex-wrap: wrap;
      margin-top: 36px;
      li {
        list-style: none;
        display: inline-block;
        color: #fff;
        svg {
          width: auto;
          height: 54px;
          fill: #fff;
        }
      }
    }
  }
}


.section-form {
  background-color: #fff;
  padding: 8px;
  margin: 8em auto;
  max-width: 600px;
  text-align: center;
  border-radius: 16px;
  .form-container {
    padding: 20px;
    background-color: #263d36;
    border-radius: 16px;
    h2{
      font-size: 2rem;
      margin-bottom: 20px;
    }
    form{
      .form-group {
        margin-bottom: 20px;
        border-radius: 4px;
        input,
        textarea {
          padding: 10px;
          border: none;
          width: 100%;
          box-sizing: border-box;
          font-family: monospace;
        }
        input:focus-visible, textarea:focus-visible {
          @include inputStyle;
        }
        .button {
          background-color: $backgroundColor;
          color: $whiteColor;
          border: 0.5px solid $whiteColor;
          width: 60%;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 1.2rem;
          transition: all 0.4s ease;
          font-family: monospace;
          &:hover {
            background-color: $whiteColor; 
            color: #263d36;
            transform: scale(1.1);
          }
        }
      }
    } 
  }
}




